* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #3a3a3a, #1a1a1a);
    font-family: Arial, sans-serif;
    color: #fff;
}

header {
    background: #444;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #fff;
}

header h1 {
    color: #f9f9f9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 280px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #2d2d2d;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    position: relative;
}

.badge {
    background: #e63946;
    color: white;
    font-size: 14px;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 8px;
    text-transform: uppercase;
}

#user-label {
    position: absolute;
    top: -15px;
    left: 10px;
}

#computer-label {
    position: absolute;
    top: -15px;
    right: 10px;
}

#user-score, #computer-score {
    font-size: 42px;
    font-weight: bold;
}


.result {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 8px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.choices {
    margin-top: 40px;
    text-align: center;
}

.choice {
    display: inline-block;
    border-radius: 50%;
    margin: 0 20px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(145deg, #565656, #3a3a3a);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.choice img {
    width: 60px;
    height: 60px;
}

.choice:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.action-message {
    text-align: center;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.green-glow {
    box-shadow: 0 0 20px #1de538;
    transition: all 0.3s ease;
    background: #1de538;
}

.red-glow {
    box-shadow: 0 0 20px #e63946;
    transition: all 0.3s ease;
    background: #e63946;
}

.gray-glow {
    box-shadow: 0 0 20px #8f8f8f;
    transition: all 0.3s ease;
    background: #8f8f8f;
}
